form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: aqua;
    
}
input {
    width: 200px;
    margin: 10px auto;
    height: 50px;
}
div {
    text-align: center;
}
h1 {
    text-align: center;
}